.bg h1 {
    /* margin-top: -400px; */
    color: white;
    align-self: center;
    font-size: 50px;
}

.bg h2 {
    font-size: 30px;
    margin-right: 1100px;
}

.bg {
    margin-top: -370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    width: 100vw;
    height: 120vh;
}

#landing_nav {
    margin-left: 150px;
    margin-top: -600px;
    align-items: center;
    color: white;
}

#landing_nav p {
    color: white;
}

#landing_nav p:hover {
    text-decoration: solid 2px white underline;
    text-underline-offset: 12px;
}

.bg img {
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
}

.footer {
    margin-top: 200px;
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(15, 14, 19);
}

a {
    color: white;
    text-decoration: 1px solid white underline;
    text-underline-offset: 5px;
}

.midpart {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.trendbox {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:800px) {
    body {
        overflow-x: hidden;
    }

    .bg {
        width: 100vw;
        margin-left: 132px;
    }

    #landing_nav {
        margin-top: -450px;
        margin-left: 40px;
    }

    .bg h2 {
        margin-right: 100px;
    }

    .bg h1 {
        font-size: 25px;
        margin-top: 50px;
    }

    .midpart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #midpart_title {
        align-self: center;
        margin-left: -85px;
    }

    .trendbox {
        flex-direction: column;
    }

    .link {
        /* color: white; */
        font-size: 10px;
        margin-left: 25px;
    }

    .navbar h1 {
        font-size: 15px;
    }

    .navbar {
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: -295px;
        z-index: 1;
        font-size: 13px;
    }

    .right_nav {
        align-items: flex-end;
        margin-left: 15px;
        margin-bottom: 0px;
        
    }

    .footer {
        width: 100vw;
        margin-left: 132px;
    }

    .footer p {
        font-size: 12px;
    }
}